<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichi.increaselimit.third.dao.BillDao">

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update t_credit
			set
			<if test="item.paymentDueDate != ''">
				payment_due_date = ${item.paymentDueDate},
			</if>
			<if test="item.statementDate != ''">
				statement_date = ${item.statementDate},
			</if>
			<if test="item.creditAmt != ''">
				credit_amt = '${item.creditAmt}',
			</if>
			<if test="item.balanceRmb != ''">
				balance_rmb = '${item.balanceRmb}',
			</if>
			update_time = now()
			where holder_name = '${item.holderName}' and
			issue_bank = '${item.issueBank}' and user_id = ${item.userId} and
			last4digit = ${item.last4digit}
		</foreach>
	</update>
	
	<select id="selectalluser">
		select * from t_user
	
	</select>
	
	<select id ="helloworld">
		change in mater
		branch change some
		change some test on my test
		change in master
	</select>
	
	
</mapper>