<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lichi.increaselimit.third.dao.CreditBillDao">

	<insert id="insertBatch" parameterType="java.util.List">

		insert into t_credit_bill
		(id,available_points,balance_rmb,cash_limit_amt,
		credit_amt,holder_name,issue_bank,last4digit,
		min_payment_rmb,payment_due_date,
		statement_end_date,statement_start_date,free_day,statement_date,user_id,email)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.availablePoints},#{item.balanceRmb},
			#{item.cashLimitAmt},#{item.creditAmt},#{item.holderName},#{item.issueBank},#{item.last4digit},
			#{item.minPaymentRmb},#{item.paymentDueDate},#{item.statementEndDate},#{item.statementStartDate},
			#{item.freeDay},#{item.statementDate},#{item.userId},#{item.email})
		</foreach>
	</insert>
</mapper>